
.header {
background-color: var(--main-bg-cl);
border-bottom: 1px solid #ECECEC;
}

.header__container {
align-items: center;
display: flex;   
}

.header__logo {
margin-right: 93px;
}

.header__nav {
margin-right: auto;
}




  