
.logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: var(--accent-txt-cl);
text-decoration: none;
}
    
.logo__black {
color: #000000;
}
    
.logo__light {
color: var(--main-bg-cl);   
}
    


